{% extends "layout.html" %}
{% block content %}
     {% if current_user.is_authenticated %}
         <div class="border-top pt-3">
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('new_travel') }}">Create A New Post</a>
        </div>
        {% for post in posts.items %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.traveler.image_file) }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{{ url_for('user_account', user_id=post.traveler.id) }}">{{ post.traveler.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('travel', travel_id=post.id) }}">Post</a></h2>
            <p class="article-content">Start Date: {{ post.start_date.strftime('%d-%m-%Y') }}</p>
            <p class="article-content">End Date: {{ post.end_date.strftime('%d-%m-%Y') }}</p>
            <p class="article-content">Country: {{ post.country }}</p>
            <p class="article-content">City: {{ post.city }}</p>
            <p class="article-content">Zip: {{ post.zip }}</p>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        {% endfor %}
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
         {% if page_num %}
          {% if posts.page == page_num %}
            <a class="btn btn-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
          {% else %}
            <a class="btn btn-outline-info mb-4" href="{{ url_for('home', page=page_num) }}">{{ page_num }}</a>
           {% endif %}
         {% else %}
             ...
         {% endif %}
        {% endfor %}
     {%  else %}
         <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
        </div>
         <div class="border-top pt-3">
            <small class="text-muted">
                Don't Have An Account? <a class="ml-2" href="{{ url_for('register') }}">Sign Up</a>
            </small>
        </div>
     {% endif %}
{% endblock content %}
