{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.traveler.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_account', user_id=post.traveler.id) }} ">{{ post.traveler.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%d-%m-%Y') }}</small>
        {% if post.traveler == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_travel', travel_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <p class="article-content">Start Date: {{ post.start_date.strftime('%d-%m-%Y') }}</p>
      <p class="article-content">End Date: {{ post.end_date.strftime('%d-%m-%Y') }}</p>
      <p class="article-content">Country: {{ post.country }}</p>
      <p class="article-content">City: {{ post.city }}</p>
      <p class="article-content">Zip: {{ post.zip }}</p>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>

     <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Travel Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', travel_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}