{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.traveler.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ post.traveler.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        {% if post.traveler == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_travel', travel_id=post.id) }}">Update</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <p class="article-content">{{ post.start_date }}</p>
      <p class="article-content">{{ post.end_date }}</p>
      <p class="article-content">{{ post.country }}</p>
      <p class="article-content">{{ post.city }}</p>
      <p class="article-content">{{ post.zip }}</p>
      <p class="article-content">{{ post.content }}</p>
    </div>
  </article>
{% endblock content %}